{% extends "@publication/print-layouts/base.twig" %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block publication %}
<div class="fanzine">
	{% if metadatas['publication-cover-page'] == '1' %}
		{% include "@publication/includes/image-cover.twig" %}
	{% endif %}

	{{ content | raw }}
</div>
{% endblock %}


