<div class="include publication-cover">
	<h1 class="publication-title">{{ metadatas.publication.title }}</h1>

	{{ coverImage }}

	<p class="publication-description">{{ metadatas.publication.description }}</p>
	<p class="publication-author publication-authors">{{ metadatas.publication.authors }}</p>
</div>
