<ul class="media-list">
  <?php foreach ($pages as $page): ?>
  <?php $metas = $wiki->GetMetadatas($page['resource']); ?>
  <li class="media" style="margin-bottom: 2em;">
    <div class="media-left">
      <a href="<?php echo $wiki->href('',$page['resource']) ?>" class="">
        <img src="<?php echo $metas['publication-cover-image'] ?>" alt="" class="media-object" width="128">
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <a href="<?php echo $wiki->href('',$page['resource']) ?> "><?php echo $metas['publication-title'] ?></a>
      </h4>

      <p>
        <?php if($metas['publication-author']): ?>Par <?php echo $metas['publication-author'] ?><br><?php endif ?>
        <?php echo $metas['publication-description'] ?>
      </p>

      <div class="btn-group" role="group" aria-label="">
        <a class="btn btn-xs btn-primary" href="<?php echo $wiki->href('pdf',$page['resource']) ?>">
          <i class="fas fa-book"></i>&nbsp;
          <?php echo _t('PUBLICATION_VIEW_PDF') ?>
        </a>

        <?php if ($hasWriteAccess): ?>
        <a class="btn btn-xs btn-info" href="<?php echo $wiki->href('preview',$page['resource']) ?>">
          <i class="fas fa-book-reader"></i>&nbsp;
          <?php echo _t('PUBLICATION_PREVIEW') ?>
        </a>
        <?php endif ?>

        <a href="<?php echo $wiki->href('share', $page['tag']) ?>" class="btn btn-xs btn-info btn-secondary modalbox">
          <i class="fas fa-share-alt"></i>
          <?php echo _t('TEMPLATE_SHARE') ?>
        </a>

        <?php if ($hasDeleteAccess): ?>
        <a class="btn btn-xs btn-danger btn-error" href="<?php echo $wiki->href('deletepage',$page['resource']) ?>">
          <i class="fas fa-trash"></i>&nbsp;
          <?php echo _t('PUBLICATION_DELETE') ?>
        </a>
        <?php endif ?>
      </div>
    </div>
  </li>
  <?php endforeach ?>
</ul>
