<div class="row row-fluid">
	<div class="col-lg-4 export-table-container">
		<h3><?php echo _t('PUBLICATION_AVAILABLE_PAGES'); ?></h3>
		<div class="alert alert-info">
			<?php echo _t('PUBLICATION_EXPORT_PAGES_INFO'); ?><a class="btn btn-default btn-success btn-mini btn-xs" href="#"><i class="fas fa-plus"></i></a>.
		</div>
		<div class="input-group input-prepend input-append">
			<span class="input-group-addon add-on"><i class="fas fa-filter"></i></span>
			<input class="form-control input-sm" type="text" id="filter" value="" placeholder="<?php echo _t('PUBLICATION_FILTER_PAGES'); ?>" />
			<span class="input-group-btn add-on">
				<button class="btn btn-default btn-sm btn-erase-filter" type="button">&times;</button>
			</span>
		</div><!-- /input-group -->
		<span id="filter-count" class="help-block align-right"></span>
	<?php if (count($entries) > 0) : $nb = 0; ?>
	<?php foreach($entries as $form) : $nb++; ?>
	<h4><?php echo $form['name']; ?>
		<a class="pull-right btn btn-xs btn-success select-all" title="<?php echo _t('PUBLICATION_ADD_ALL'); ?>" href="#">
		  <i class="fas fa-plus"></i> <?php echo _t('PUBLICATION_ADD_ALL'); ?>
		</a>
	</h4>
		<ul class="list-entries-to-export group-<?php echo $nb; ?> list-group">
			<?php foreach($form['entries'] as $page) : ?>
			<?php if ($form['type'] == 'pages') : ?>
			<li class="list-group-item">
				<a class="pull-right btn btn-xs btn-success select-page-item" title="<?php echo _t('PUBLICATION_SELECT_PAGE'); ?> <?php echo htmlentities($page['tag']); ?> <?php echo _t('PUBLICATION_FOR_THE_EBOOK'); ?>" href="#">
					<i class="fas fa-plus"></i>
				</a>
				<a class="hide pull-right btn btn-xs btn-danger remove-page-item" title="<?php echo _t('PUBLICATION_DELETE_PAGE'); ?> <?php echo htmlentities($page['tag']); ?> <?php echo _t('PUBLICATION_FROM_THE_EBOOK'); ?>" href="#" data-group="<?php echo $nb; ?>">
					<i class="fas fa-minus"></i>
				</a>
				<span class="pull-left hide movable"><i class="fas fa-arrows-alt-v"></i></span>
				<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> <?php echo htmlentities($page['tag']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $page['tag']); ?>">
					<i class="fas fa-eye"></i>
				</a>
				<input type="hidden" name="page[]" value="<?php echo $page['tag']; ?>" />
				&nbsp;<?php echo ' '.get_title_from_body($page); ?>
			</li>
			<?php elseif ($form['type'] == 'bazar') : ?>
			<li class="list-group-item">
				<a class="pull-right btn btn-xs btn-success select-page-item" title="<?php echo _t('PUBLICATION_SELECT_PAGE'); ?> <?php echo htmlentities($page['id_fiche']); ?> <?php echo _t('PUBLICATION_FOR_THE_EBOOK'); ?>" href="#">
					<i class="fas fa-plus"></i>
				</a>
				<a class="hide pull-right btn btn-xs btn-danger remove-page-item" title="<?php echo _t('PUBLICATION_DELETE_PAGE'); ?> <?php echo htmlentities($page['id_fiche']); ?> <?php echo _t('PUBLICATION_FROM_THE_EBOOK'); ?>" href="#" data-group="<?php echo $nb; ?>">
					<i class="fas fa-minus"></i>
				</a>
				<span class="pull-left hide movable"><i class="fas fa-arrows-alt-v"></i></span>
				<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> <?php echo htmlentities($page['id_fiche']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $page['id_fiche']); ?>">
					<i class="fas fa-eye"></i>
				</a>
				<input type="hidden" name="page[]" value="<?php echo $page['id_fiche']; ?>" />
				&nbsp;<?php echo ' '.$page['bf_titre']; ?>
			</li>
			<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	<?php endforeach; ?>
	<?php endif; ?>
	</div><!-- /.col-lg-4.export-table-container -->

	<div class="col-lg-8">
		<h3><?php echo _t('PUBLICATION_YOUR').' '.strtolower($name); ?></h3>
		<div class="alert alert-info">
			<?php echo _t('PUBLICATION_ORDER_PAGES_INFO'); ?>
		</div>
		<a class="pull-right btn btn-default btn-xs page-break" title="<?php echo _t('PUBLICATION_INSERT_PAGE_BREAK'); ?>" href="#">
			<i class="fas fa-plus"></i> <?php echo _t('PUBLICATION_INSERT_PAGE_BREAK'); ?>
		</a>
		<div class="clearfix"></div>
		<div class="well">
			<form class="export-table-form" method="post" action="<?php echo $url;?>">
			<?php if (!empty($publicationStart)) : ?>
				<ul class="list-group">
					<li class="list-group-item list-group-item-info">
						<a class="pull-left btn btn-default btn-xs view-page-item modalbox" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> <?php echo $publicationStart; ?>" href="<?php echo $GLOBALS['wiki']->href('html', $publicationStart); ?>">
							<i class="fas fa-eye"></i>
						</a>
						<input type="hidden" name="page[]" value="<?php echo $publicationStart; ?>" />
						&nbsp;<?php echo _t('PUBLICATION_START_PAGE'); ?> (<?php echo $publicationStart; ?>)
					</li>
				</ul>
			<?php endif; ?>
				<ul id="publication-selection-container" class="list-group">
				<?php if (empty($selectedPages)) : ?>
					<?php foreach($chapterCoverPages as $page): ?>
						<li class="list-group-item list-group-item-info">
							<span class="pull-left movable"><i class="fas fa-arrows-alt-v"></i></span>
							<a class="pull-left btn btn-default btn-xs view-page-item modalbox" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> <?php echo htmlentities($page['tag']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $page['tag']); ?>">
								<i class="fas fa-eye"></i>
							</a>
							<input type="hidden" name="page[]" value="<?php echo $page['tag']; ?>" />
							&nbsp;<?php echo ' '.get_title_from_body($page); ?>
						</li>
					<?php endforeach; ?>
				<?php else : ?>
				<?php foreach($selectedPages as $page): ?>
					<li class="list-group-item">
						<a class="hide pull-right btn btn-xs btn-success select-page-item" title="<?php echo _t('PUBLICATION_SELECT_PAGE'); ?> <?php echo htmlentities($page['tag']); ?> <?php echo _t('PUBLICATION_FOR_THE_EBOOK'); ?>" href="#">
							<i class="fas fa-plus"></i>
						</a>
						<a class="pull-right btn btn-default btn-xs btn-danger remove-page-item" title="<?php echo _t('PUBLICATION_DELETE_PAGE'); ?> <?php echo htmlentities($page['tag']); ?> <?php echo _t('PUBLICATION_FROM_THE_EBOOK'); ?>" href="#">
							<i class="fas fa-minus"></i>
						</a>
						<span class="pull-left movable"><i class="fas fa-arrows-alt-v"></i></span>
						<a class="pull-left btn btn-default btn-xs view-page-item modalbox" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> <?php echo htmlentities($page['tag']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $page['tag']); ?>">
							<i class="fas fa-eye"></i>
						</a>
						<input type="hidden" name="page[]" value="<?php echo $page['tag']; ?>" />
						&nbsp;<?php echo ' '.get_title_from_body($page); ?>
					</li>
				<?php endforeach; ?>
				<?php endif; ?>
				</ul>
			<?php if (!empty($publicationEnd)) : ?>
				<ul class="list-group">
					<li class="list-group-item list-group-item-info">
						<a class="pull-left btn btn-default btn-xs view-page-item modalbox" title="<?php echo _t('PUBLICATION_SEE_PAGE'); ?> PageEbookFin" href="<?php echo $GLOBALS['wiki']->href('html', $publicationEnd); ?>">
							<i class="fas fa-eye"></i>
						</a>
						<input type="hidden" name="page[]" value="<?php echo $publicationEnd; ?>" />
						&nbsp;<?php echo _t('PUBLICATION_END_PAGE'); ?> (<?php echo $publicationEnd; ?>)
					</li>
				</ul>
			<?php endif; ?>
				<?php if (!empty($default['title'])): ?>
					<input type="hidden" required id="publication-title" name="publication-title" value="<?php echo (isset($metadatas['publication-title'])) ? $metadatas['publication-title'] : $default['title']; ?>" />
				<?php else : ?>
				<div class="form-group">
					<label for="publication-title" class="control-label"><?php echo _t('PUBLICATION_EBOOK_TITLE'); ?></label>
					<div class="controls">
						<input class="control-group form-control" type="text" required="required" placeholder="<?php echo _t('PUBLICATION_EBOOK_TITLE'); ?>" id="publication-title" name="publication-title" value="<?php echo (isset($metadatas['publication-title'])) ? $metadatas['publication-title'] : ''; ?>" />
					</div>
				</div>
				<?php endif; ?>

				<?php if (!empty($default['desc'])): ?>
					<input type="hidden" required id="publication-description" name="publication-description" value="<?php echo (isset($metadatas['publication-description'])) ? $metadatas['publication-description'] : $default['desc']; ?>" />
				<?php elseif ($outputFormat == 'newsletter') : ?>
					<div class="form-group">
						<label for="publication-description" class="control-label"><?php echo _t('PUBLICATION_EBOOK_DESC'); ?></label>
						<div class="controls">
							<textarea class="control-group form-control" placeholder="<?php echo _t('PUBLICATION_EBOOK_DESC'); ?>" id="publication-description" name="publication-description"><?php echo (isset($metadatas['publication-description'])) ? $metadatas['publication-description'] : ''; ?></textarea>
						</div>
					</div>
				<?php else : ?>
					<div class="form-group">
						<label for="publication-description" class="control-label"><?php echo _t('PUBLICATION_EBOOK_DESC'); ?></label>
						<div class="controls">
							<textarea class="control-group form-control" required="required" placeholder="<?php echo _t('PUBLICATION_EBOOK_DESC'); ?>" id="publication-description" name="publication-description"><?php echo (isset($metadatas['publication-description'])) ? $metadatas['publication-description'] : ''; ?></textarea>
						</div>
					</div>
				<?php endif; ?>

				<?php if (!empty($default['author'])): ?>
					<input type="hidden" required id="publication-author" name="publication-author" value="<?php echo (isset($metadatas['publication-author'])) ? $metadatas['publication-author'] : $default['author']; ?>" />
				<?php elseif ($outputFormat == 'newsletter') : ?>
					<div class="form-group">
						<label for="publication-author" class="control-label"><?php echo _t('PUBLICATION_EBOOK_AUTHOR'); ?></label>
						<div class="controls">
							<input class="control-group form-control" type="text" placeholder="<?php echo _t('PUBLICATION_EXAMPLE_AUTHOR'); ?>" id="publication-author" name="publication-author" value="<?php echo (isset($metadatas['publication-author'])) ? $metadatas['publication-author'] : ''; ?>" />
						</div>
					</div>
				<?php else : ?>
					<div class="form-group">
						<label for="publication-author" class="control-label"><?php echo _t('PUBLICATION_EBOOK_AUTHOR'); ?></label>
						<div class="controls">
							<input class="control-group form-control" type="text" required="required" placeholder="<?php echo _t('PUBLICATION_EXAMPLE_AUTHOR'); ?>" id="publication-author" name="publication-author" value="<?php echo (isset($metadatas['publication-author'])) ? $metadatas['publication-author'] : ''; ?>" />
						</div>
					</div>
				<?php endif; ?>

				<?php if (strtolower($outputFormat) == 'ebook') : ?>
					<?php if (!empty($default['coverimage'])): ?>
					<input type="hidden" required id="publication-cover-image" name="publication-cover-image" value="<?php echo (isset($metadatas['publication-cover-image'])) ? $metadatas['publication-cover-image'] : $default['coverimage']; ?>" />
				<?php else : ?>
				<div class="form-group">
					<label for="publication-cover-image" class="control-label"><?php echo _t('PUBLICATION_EBOOK_COVER_IMAGE'); ?></label>
					<div class="controls">
						<input class="control-group form-control" type="url" required="required" placeholder="http://" id="publication-cover-image" name="publication-cover-image" value="<?php if (isset($metadatas['publication-cover-image'])) { echo $metadatas['publication-cover-image']; } elseif(!empty($coverImageUrl)) {echo $coverImageUrl; } ?>" />
					</div>
				</div>
			<?php endif; // !empty($default['coverimage']) ?>
		<?php endif; // $outputFormat == 'ebook' ?>

				<?php if(!empty($ebookPageName)) echo '<input name="ebookpagename" value="'.$ebookPageName.'">'; ?>
				<br />
				<input type="hidden" value="<?php echo $outputFormat; ?>" name="outputformat">
				<input type="submit" value="<?php echo _t('PUBLICATION_GENERATE').' '.$name; ?>" class="btn btn-block btn-lg btn-primary" />
			</form>
		</div>
	</div> <!-- /.col-lg-8. publication-selection-container -->
</div> <!-- /.row -->
<?php
  	$GLOBALS['wiki']->AddJavascriptFile('tools/publication/libs/vendor/jquery-ui-sortable/jquery-ui.min.js');
  	$GLOBALS['wiki']->AddJavascriptFile('tools/publication/libs/exportpages.js');
?>
