<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><?php echo $siteTitle ?> : <?php echo $title ?></title>
  <?php echo $styles ?>

  <style type="text/css">
  @media print {
    @page {
      size: <?php echo $options['page-format'] ?> <?php $options['page-orientation'] ?>;
      <?php if ($options['show-print-marks']) { ?>
      bleed: 6mm;
      marks: crop cross;
      <?php } ?>
    }
  }</style>
  <?php foreach($stylesheets as $sheet ) { ?>
  <link rel="stylesheet" href="<?php echo $baseUrl ?>/<?php echo $sheet ?>">
  <?php } ?>

  <!-- Paged.js handles the printing layout -->
  <script type="module" src="<?php echo $baseUrl ?>/tools/publication/libs/print.js"></script>
</head>

<body class="<?php echo join(" ", $stylesModifiers) ?>">
  <?php if ($options['book-cover']) { ?>
  <section class="book-cover">
    <h1><?php echo $title ?></h1>
  </section>
  <div class="page-break blank-page"></div>
  <?php } ?>

  <?php echo $content ?>
</body>
</html>
