<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><?php echo $metadatas['publication-title'] ?> • <?php echo $siteTitle ?></title>
  <?php echo $styles ?>

  <style type="text/css">
  @media print {
    @page {
      size: <?php echo $options['page-format'] ?> <?php $options['page-orientation'] ?>;
      <?php if ($options['show-print-marks']) { ?>
      bleed: 6mm;
      marks: crop cross;
      <?php } ?>
    }
  }</style>
  <?php foreach($stylesheets as $sheet ) { ?>
  <link rel="stylesheet" href="<?php echo $baseUrl ?>/<?php echo $sheet ?>">
  <?php } ?>

  <!-- Paged.js handles the printing layout -->
  <script type="module" src="<?php echo $baseUrl ?>/tools/publication/libs/print.js"></script>
</head>

<body class="<?php echo join(" ", $stylesModifiers) ?>">
  <?php if ($options['book-cover']) { ?>
  <section class="publication-cover <?php echo !$metadatas['publication-cover-image'] ?: 'has-background-image'?>"<?php echo $metadatas['publication-cover-image'] ? ' style="background-image: url('. $metadatas['publication-cover-image'] .')"' : '' ?>>
    <h1 class="publication-title"><?php echo $metadatas['publication-title'] ?></h1>

    <p class="publication-description"><?php echo $metadatas['publication-description'] ?></p>
    <p class="publication-author"><?php echo $metadatas['publication-author'] ?></p>
  </section>
  <div class="page-break blank-page"></div>
  <?php } ?>

  <?php echo $content ?>
</body>
</html>
