.btn {
  padding: 5px 10px;
}
.btn-sm {
  font-size: 14px;
}
.btn-xs {
  font-size: 12px;
}

.btn i:last-child:first-child {
  margin: 0;
}

.fanzine-layout.img-icon {
  height: 2.5em;
}

.yw-publication__show .img-cover {
  object-fit: cover;
  height: 250px;
  width: 200px;
}

.export-table-container .page-groups {
  margin-bottom: 1em;
}

.export-table-form details > summary {
  cursor: pointer;
  display: revert;  /* this is somewhat unset by Bootstrap, which we don't want in this case */
  font-weight: bold;
}

.export-table-form .d-block {
  display: block;
}

.export-table-form .form-row {
  margin-bottom: 1em;
}

.export-table-form [type="checkbox"] + span,
.export-table-form [type="radio"] + span {
  height: 1.4rem;
  padding-left: 1.4rem; /* same as height to be "square" */
}

.export-table-form .radio .control-label,
.export-table-form .checkbox .control-label,
.export-table-form .radio-inline .control-label {
  font-weight: bold;
}
.export-table-form .text-muted {
  font-weight: normal;
}

.export-table-form .radio.pill {
  border: 1px solid currentColor;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
}
.export-table-form .radio.pill:has(:checked),
.export-table-form .radio.pill:focus-within {
  border-color: var(--link-color);
  border-width: 3px;
}

.export-table-form .form-group.checkbox .control-label,
.export-table-form .form-group.checkbox .control-label + .form-text,
.export-table-form .form-row .radio-inline {
  padding-left: 0;
  vertical-align: top;
}

/* we reduce spacing for rows without .col-* elements inside */
.export-table-form .form-row.clearfix .form-group {
  margin-top: 10px;
}

.export-table-form .form-row:not(.clearfix) .form-group {
  margin-top: 0;
}
#publication-selection-container.ui-sortable .blank-page .page-label {
  margin-left: .75em;
}
#publication-selection-container.ui-sortable .blank-page .page-label:after {
  color: #aaa;
  content: "--------------";
  margin-left: .5em;
  margin-right: .5em;
}

#publication-selection-container.ui-sortable > * {
    cursor: move;
}
    #publication-selection-container.ui-sortable > *:hover,
    #publication-selection-container.ui-sortable > *:focus {
        background-color: var(--neutral-light-color);
        border-color: var(--primary-color);
    }
