.a4 {
    width:210mm;
    height:297mm;
}
.space-left {
    margin-left:1em;
}
.btn-xs.btn-danger {
    border: 1px solid #d9534f;
}

.export-table-form details > summary {
  cursor: pointer;
  display: revert;  /* this is somewhat unset by Bootstrap, which we don't want in this case */
  font-weight: bold;
}

#publication-selection-container.ui-sortable .blank-page .page-label:before,
#publication-selection-container.ui-sortable .blank-page .page-label:after {
  color: #aaa;
  content: "-------";
  margin-left: .5em;
  margin-right: .5em;
}

#publication-selection-container.ui-sortable > * {
    cursor: move;
}
    #publication-selection-container.ui-sortable > *:hover,
    #publication-selection-container.ui-sortable > *:focus {
        background-color: var(--neutral-light-color);
        border-color: var(--primary-color);
    }
