{% if pages|length == 0 %}
<div class="alert alert-info">
  {{ _t('PUBLICATION_NO_EBOOK_FOUND') }}
</div>
{% endif %}

<ul class="media-list">
{% for page in pages %}
  <li class="media">
    {% include '@publication/includes/publication.twig' with { 'metas': page._metas, 'tag': page.resource } %}
  </li>
{% endfor %}
</ul>
